<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>逢甲shopping Web</title>

    <!--自己的css-->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!--swiper.css設計-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--icon fontsome.css-->

    <script src="https://kit.fontawesome.com/a3c608bb80.js" crossorigin="anonymous"></script>

    <!--font-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images\shop__icon.ico" type="images/web_icon2.png">

</head>
<body>

    <!--導覽列設計-->
    <section id="header" class="header">
        <a href="#" class="logo"><i class="fa-solid fa-shop"></i>S.C</a>
        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#category">hot</a>
            <a href="#pramotion">type</a>
            <a href="#shop">shop</a>
        </nav>

        <div class="icon">
            <a href="{% url 'logout' %}" class="fa-solid fa-right-from-bracket"></a>
            <a href="#" class="fa-solid fa-cart-shopping" id="cart-button">
                <span id="cart-count">0</span>
            </a>
            <!-- <a href="#" class="fa-solid fa-trash" id="clear-cart-button" onclick="clearCart()"></a>多增加清空購物車按鈕 -->
            <a href="#" class="fa-solid fa-moon" id="darkmode-icon"></a>
        </div>


        <!--django內容-->
        <div id="cart-popup">

            <!-- 這是結帳按鈕 -->
            <div class="checkout" id="checkout-cart-button">
                <a style="cursor: pointer;" href="{% url 'shop' %}">結帳</a>
            </div>

            <!-- 我在裡面也加上了清空功能 -->
            <div class="fa-solid fa-trash" id="clear-cart-button">
                <button style="cursor: pointer;" onclick="clearCart()">清空購物車</button>
            </div>

            <div id="cart-item">
                <!-- 這裡放置購物車項目 -->
            </div>

        </div>

    </section>

    <!--Gaze Cueing-->

    <section class="home" id="home">
        <!--第一部分-->
        <div class="slide active" id="main_img" style="background-image: url({% static '/images/TriplePOG.png' %}) ;background-size:cover; background-position:center;">
            <div class="content">
                <span>滿足你的日常所需</span>
                <h3>逢甲商城 - 與時尚相遇，享受購物新潮流</h3>
                <a href="#shop" class="btn">read more</a>
            </div>
            
        </div>
    </section>

    <!--shop item(view)-->
    <section class="category" id="category">

        <h2 class="heading"><span>super hot</span></h2>


        <div class="box-container">
            <a href="#shop" class="box">
                <img src="{% static '/images/1.png' %}">
                <h1>打卡鞋</h1>
            </a>
            <a href="#shop" class="box">
                <img src="{% static '/images/2.png' %}">
                <h1>岡本壯陽藥</h1>
            </a>
            <a href="#shop" class="box">
                <img src="{% static '/images/3.png' %}">
                <h1>薪水小偷</h1>
            </a>
            <a href="#shop" class="box">
                <img src="{% static '/images/5.png' %}">
                <h1>教授看不見你墨鏡</h1>
            </a>
            

        </div>

    </section>


     <!--shop type-->
    <section class="pramotion" id="pramotion">
        <h2 class="heading"><span>shop type</span></h2>
        <div class="box-container">
            <div class="collection-card" style="background-image: url({% static '/images/MJ.png' %});opacity: 0.7; ">
                <h1></h1>
                <a href="#shop" class="btn">Explore More<i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="collection-card" style="background-image: url({% static '/images/RR.png' %});opacity: 0.7;">
                <h1></h1>
                <a href="#shop" class="btn">Explore More<i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="collection-card" style="background-image: url({% static '/images/fu6w8.png' %});opacity: 0.7;">
                <h1></h1>
                <a href="#shop" class="btn">Explore More<i class="fas fa-arrow-right"></i></a>
            </div>

        </div>

    </section>


    <!--shop item-->

    <section class="shop" id="shop">
        <h2 class="heading">近期  <span>上架</span></h2>

        <div class="box-container">
            <!--商品1-->
            <div class="box">
                <img src="{% static '/images/1.png' %}">
                <div class="content">
                    <h3>打卡鞋</h3>
                    <div class="price">$20<span>$30</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('打卡鞋')">Add to Cart</a>

                </div>
            </div>
            <!--商品2-->
            <div class="box">
                <img src="{% static '/images/2.png' %}">
                <div class="content">
                    <h3>岡本壯陽藥</h3>
                    <div class="price">$69<span>$999</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('岡本壯陽藥')">Add to Cart</a>

                </div>
            </div>
            <!--商品3-->
            <div class="box">
                <img src="{% static '/images/3.png' %}">

                <div class="content">
                    <h3>薪水小偷</h3>
                    <div class="price">$99<span>$3</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('薪水小偷')">Add to Cart</a>

                </div>
            </div>
            <!--商品4-->
            <div class="box">
                <img src="{% static '/images/4.png' %}">

                <div class="content">
                    <h3>教授求學分神水</h3>
                    <div class="price">$9<span>$25</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('教授求學分神水')">Add to Cart</a>

                </div>
            </div>

            <!--商品5-->
            <div class="box">
                <img src="{% static '/images/5.png' %}">

                <div class="content">
                    <h3>教授看不見你墨鏡</h3>
                    <div class="price">$22<span>$58</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('教授看不見你墨鏡')">Add to Cart</a>

                </div>
            </div>

            <!--商品6-->
            <div class="box">
                <img src="{% static '/images/6.png' %}">

                <div class="content">
                    <h3>3D假髮</h3>
                    <div class="price">$30<span>$87</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('3D假髮')">Add to Cart</a>

                </div>
            </div>

            <!--商品7-->
            <div class="box">
                <img src="{% static '/images/7.png' %}">

                <div class="content">
                    <h3>防戀人墨鏡</h3>
                    <div class="price">$20<span>$30</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('防戀人墨鏡')">Add to Cart</a>

                </div>
            </div>

            <!--商品8-->
            <div class="box">
                <img src="{% static '/images/8.png' %}">
                <div class="content">
                    <h3>台積電面試鞋</h3>
                    <div class="price">$64<span>$1450</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('台積電面試鞋')">Add to Cart</a>
                </div>
            </div>
            <div class="box">
                <img src="{% static '/images/9.png' %}">
                <div class="content">
                    <h3>黃仁勳衣服</h3>
                    <div class="price">$1000<span>$9999</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('黃仁勳衣服')">Add to Cart</a>
                </div>
            </div>
            <div class="box">
                <img src="{% static '/images/10.png' %}">
                <div class="content">
                    <h3>露營飲水專用</h3>
                    <div class="price">$64<span>$1450</span></div>
                    <a class="btn add-to-cart-btn" onclick="addToCart('露營飲水專用')">Add to Cart</a>
                </div>
            </div>
        </div>

    </section>

    <!--future shop item view-->
    <section class="section insta-post">

        <h2 class="heading">未來 <span>上架</span></h2>
        <ul class="insta-post-list has-scrollbar">
            <li class="insta-post-item">
                <img src="{% static '/images/001.png' %}" class="insta-post-banner image-contain" alt="" width="100" height="100" loading="lazy">
                <a href="#" class="insta-post-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>

            </li>
            <li class="insta-post-item">
                <img src="{% static '/images/002.png' %}" class="insta-post-banner image-contain" alt="" width="100" height="100" loading="lazy">
                <a href="#" class="insta-post-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>

            </li>
            <li class="insta-post-item">
                <img src="{% static '/images/003.png' %}" class="insta-post-banner image-contain" alt="" width="100" height="100" loading="lazy">
                <a href="#" class="insta-post-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>

            </li>
            <li class="insta-post-item">
                <img src="{% static '/images/004.png' %}" class="insta-post-banner image-contain" alt="" width="100" height="100" loading="lazy">
                <a href="#" class="insta-post-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>

            </li>
            <li class="insta-post-item">
                <img src="{% static '/images/005.png' %}" class="insta-post-banner image-contain" alt="" width="100" height="100" loading="lazy">
                <a href="#" class="insta-post-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a>

            </li>
        </ul>

    </section>

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Swimchicken | All Right Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

    </footer>

    <script src="{% static 'js/index.js' %}"></script>


    <script>//這個script處理購物車icon旁邊的數字

        // 購物車數量的全局變量
        let cartQuantity = 0;
    
        // 選取所有的 "Add to Cart" 按鈕
        const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
    
        // 遍歷所有按鈕，為它們綁定點擊事件監聽器
        addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // 更新購物車數量
                updateCartQuantity();
            });
        });
    
        // 更新購物車數量的函數
        function updateCartQuantity() {
            // 根據您的邏輯更新購物車數量
            cartQuantity += 1;
    
            // 選取購物車數量顯示的元素
            const cartQuantityElement = document.getElementById('cart-button');
    
            // 更新購物車數量的顯示
            cartQuantityElement.innerText = cartQuantity;
    
            // 選取購物車內容容器
            const cartContentElement = document.getElementById('cart-content');
    
            // 創建顯示數量的元素
            const quantityElement = document.createElement('span');
            quantityElement.innerText = cartQuantity;
    
            // 清空購物車內容容器
            cartContentElement.innerHTML = '';
    
            // 將數量元素添加到購物車內容容器中
            cartContentElement.appendChild(quantityElement);
        }
    </script>

    <script>//這個script處理購物遮裡面的內容

        // 定義一個空陣列來存儲購物車項目
        var cartItems = [];

        // 在點選 "Add to Cart" 按鈕時執行的函式
        function addToCart(name) {
            // 在這裡添加相應的邏輯來獲取商品資訊

            // 檢查商品是否已存在於購物車中
            var existingItem = cartItems.find(function(item) {
                return item.name === name;
            });

            if (existingItem) {
                // 商品已存在於購物車中，將數量加一
                existingItem.quantity += 1;
            } else {
                // 商品尚未存在於購物車中，創建一個新的商品對象
                var newItem = {
                    name: name,
                    price: 20,
                    quantity: 1
                };
                
                // 將新的商品對象添加到購物車陣列中
                cartItems.push(newItem);
            }

            // 更新購物車項目的顯示
            updateCartItems();
        }

        // 更新購物車項目的函式
        function updateCartItems() {
            // 獲取購物車項目容器的元素
            var cartContainer = document.getElementById("cart-item");

            // 清空購物車項目容器
            cartContainer.innerHTML = "";

            // 遍歷購物車陣列，創建並添加每個項目的元素
            for (var i = 0; i < cartItems.length; i++) {
                var item = cartItems[i];

                // 創建項目元素
                var itemElement = document.createElement("div");
                itemElement.innerHTML = item.name + " - $" + item.price + " x " + item.quantity;

                // 將項目元素添加到購物車項目容器中
                cartContainer.appendChild(itemElement);
            }
        }
        function clearCart() {
            cartItems = [];

            // 更新購物車項目的顯示
            updateCartItems();

            // 重置購物車數量為0
            cartQuantity = 0;

            // 選取購物車數量顯示的元素
            const cartQuantityElement = document.getElementById('cart-button');

            // 更新購物車數量的顯示為0
            cartQuantityElement.innerText = cartQuantity;
        }
    </script>

    
</body>
</html>