<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>逢甲shopping Web</title>

    <!--自己的css-->

    <link rel="stylesheet" href="{% static 'css/style3.css' %}">

    <!--swiper.css設計-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    <!--icon fontsome.css-->

    <script src="https://kit.fontawesome.com/a3c608bb80.js" crossorigin="anonymous"></script>

    <!--font-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images\shop__icon.ico" type="images/web_icon2.png">

</head>
<body>

    <!--導覽列設計-->
    <section id="header" class="header">
        <a href="#" class="logo"><i class="fa-solid fa-shop"></i>S.C</a>
        <nav class="navbar">
            <a href="{% url 'main' %}">回首頁繼續購物</a>
        </nav>

        <div class="icon">
            <a href="#" class="fa-solid fa-moon" id="darkmode-icon"></a>
        </div>


        <!--django內容-->
        <div id="cart-popup">
            <i class="fa-solid fa-trash" id="dicon"></i>
            <!-- 這裡放置購物車內容和結帳按鈕 -->
        </div>

    </section>


    <!--user dataset-->
    <section class="contect" id="contect">
        <h2 class="heading">送出 <span>訂單!</span></h2>
        
        <form action="#">
            <div class="input-index">
                <input type="text" placeholder="FULL Name">
                <input type="email" placeholder="Email Address">
            </div>
            <div class="input-index">
                <input type="text" placeholder="Mobile Name">
                <input type="text" placeholder="Email Subject">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>

            {% for x in total_item %}
                <h3>{{ x.name }} - {{ x.money }}</h3>
            {% endfor %}


            <!--總價呈現-->
            <input type="submit" value="Send Message" class="btn">

        </form>
    </section>


    

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Swimchicken | All Right Reserved</p>
        </div>
        <div class="footer-iconTop">
            <a href="#home"><i class="fa-solid fa-arrow-up"></i></a>
        </div>

    </footer>

    <script src="{% static 'js/index.js' %}"></script>

    

    
</body>
</html>