<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="war_box">
        <h1>Sign up</h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" id="username">
            <input type="email" placeholder="Email" name="email" id="email">
            <input type="password" placeholder="Password" name="password" id="password">
            <input type="password" placeholder="re-Password" name="re_password" id="re_password">

            <div class="terms">
                <input type="checkbox" id="checkbox">
                <label for="checkbox">I agree to these <a href="#"> credit</a></label>
            </div>
            {% if wrong_password %}
                <p style="color: red;">rePassword is incorrect</p>
            {% endif %}
            <button>Sign up</button>
            <div class="member">
                已經有帳號?<a href="{% url 'login' %}">Login here</a>

            </div>
        </form>
    </div>
    
</body>
</html>